<!-- Footer -->
<footer id="footer">
  <ul class="icons">
    {% for socloc in site.social %}
    {% if socloc[1] %}
    {% if socloc[0] == 'email' %}
    <li><a target="_blank" href="{{ socloc[1] }}" class="icon fa-envelope-o"
           ><span class="label">E-mail</span></a></li>
    {% else %}
    <li><a target="_blank" href="{{ socloc[1] }}" class="icon fa-{{ socloc[0] }}"
           ><span class="label">{{ socloc[0] }}</span></a></li>
    {% endif %}
    {% endif %}
    {% endfor %}
  </ul>
  <ul class="copyright">
    <li>&copy; {% assign thisyear = site.time | date: "%Y" %}
    {% if site.first_published %}
      {% capture diff %}{{ site.first_published | minus:thisyear }}{% endcapture %}
      {% if diff contains '-' %}{{ site.first_published }},{% endif %}
    {% endif %}
    {{ thisyear }}
    {% if site.owner %}{{ site.owner }}{% else %}{{ site.title }}{% endif %}</li>

    <li>
        <strong>Company Registration Number</strong>: 09053780
    </li>
    <li>
        <strong>VAT Number</strong>: 188 5611 70
    </li>
    <li>
        <strong>Registered in England and Wales at </strong><br/>
        The Alliance Suite<br/>
        2nd Floor, Ellenborough House<br/>
        Wellington Street<br/>
        Cheltenham<br/>
        Glos<br/>
        GL50 1XZ
    </li>
  </ul>
</footer>
